<div class="cube">
    <img class="cube" src= {{imageUrl}}>
    <p class="name">{{name}}</p>
    <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
    <a class="btn" href="/cubic/details/{{_id}}">Details</a>
    <a class="btn" href="/cubic/attach/{{_id}}">Attach</a>
    <a class="btn" href="/cubic/edit/{{_id}}">Edit</a>
    <a class="btn" href="/cubic/delete/{{_id}}">Delete</a>
</div>